body {
    overflow: hidden;
    text-align: center;
}

main {
    margin: 20px;
}

.content{
    align-items: center;
}

.links{
    font-family: Roboto;
    font-size: 16pt;
}

ul {
    list-style-type: circle;
}